* {
    box-sizing: border-box;
    margin: 0%;
    padding-top: 0%;
}

body {
    background: #36d1dc;
    background: -webkit-linear-gradient(to top, #5b86e5, #36d1dc);
    background: linear-gradient(to top, #5b86e5, #36d1dc);
    height: 100vh;
}

button {
    background-image: linear-gradient(
        to right,
        #37505f 0%,
        #26a0da 51%,
        #314755 100%
    );
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.welcome-container {
    padding: 10px;
}

form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 71.8vh;
}

.flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

footer {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.main-app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.large-profile-photo {
    width: 100px;
    height: 100px;

}
.profile-small-photo {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 10px;
    right: 10px;
}
