* {
    box-sizing: border-box;
    margin: 0%;
    padding-top: 0%;
}

body {
    background: whitesmoke;
    height: 100vh;
    font-family: "Padauk", sans-serif;
}

button {
    background-image: linear-gradient(
        to right,
        #ec8f6a 0%,
        #da5926 51%,
        #ec8f6a 100%
    );
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(245, 237, 237);
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: rgb(17, 17, 17);
    text-decoration: none;
}

.welcome-container {
    padding: 10px;
}

form {
    display: flex;
    justify-content: center;
}

.registration {
    border: 2px solid;
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
}
.registration-input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
}

.login-page {
    border: 2px solid;
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
}

.login-input{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
}

.flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

footer {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.main-app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.large-profile-photo {
    width: 100px;
    height: 100px;
}
.profile-small-photo {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 10px;
    right: 10px;
}
